.header {
    color: rgb(203, 53, 53);
}

.header2 {
    color: rgb(0, 0, 0)
}

#grad {
    background-image: linear-gradient(to top, rgb(93, 93, 93), white);
  }

.subheader {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.bodystyle {
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    background: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.nav-option {
    color:aliceblue;
    margin-right: 10px;
    margin-left: 10px
}

.paragraph {
    margin-right: 600px
}

.image {
    height:400px
}