.header {
    color: red;
}

#grad {
    background-image: linear-gradient(to top, lightgray, white);
  }

.subheader {
    color: blue;
    font-style: italic;
}

.navbar {
    background: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.nav-option {
    color:aliceblue;
    margin-right: 10px;
    margin-left: 10px
}

.paragraph {
    margin-right: 600px
}
